
.box {
    color: rgb(5, 1, 22);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: antiquewhite;
    border: 30px;
    border-color: antiquewhite;
    border-style: solid;
  }

    body {
      background-color: powderblue;
    }
    a:link {
      color: rgb(1, 5, 15);
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: rgb(170, 43, 11);
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: rgb(8, 146, 38);
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }